.containerContato{
   max-width: 400px;
   margin: 0 auto;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.containerContato .heroContato img{
   margin-top: 1rem;
   width: 75px;
   height: 75px;
}

.containerContato .heroContato{
   margin-top: 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.containerContato .heroContato h1{
   font-size: 3rem;
   font-weight: 900;
}

.containerContato .heroContato .linkk{
   margin-top: 2rem;
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #EA2050;
   transition: 0.2s;
   flex-direction: column;
   padding-bottom: 1rem;

}

.containerContato .heroContato .linkk:hover{
   color: #1A8706;

}
.containerContato .heroContato .linkk svg{
   width: 40px;
   height: 40px;
   margin-bottom: 1rem;
}

.containerContato .heroContato .linkk h2{
   font-size: 1.9rem;
   margin-left: 1rem;
   font-weight: 900;
}

.containerContato .heroContato .linkk2{
   margin-top: 1.5rem;
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #1888ff;
   flex-direction: column;
   padding-bottom: 1rem;


}
.containerContato .heroContato .linkk2:hover{
   margin-top: 1.5rem;
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #1A8706;

}
.containerContato .heroContato .linkk2 svg{
   width: 40px;
   height: 40px;
   margin-bottom: 1rem;

}

.containerContato .heroContato .linkk2 h2{
   font-size: 1.9rem;
   margin-left: 0.2rem;
   font-weight: 900;

}