.containerCurso {
   max-width: 400px;
   margin: 0 auto;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: justify; 
}

.containerCurso .heroCurso {

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: justify; 
}

.containerCurso h1 {
   font-weight: 900;
   font-size: 1.7rem;
   margin-top: 3rem;
   color: #0A0000;
}
.containerCurso p {
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-top: 2rem;
   line-height: 1.5rem;

}.containerCurso p:last-child {
   margin-bottom: 3rem;
   padding-bottom: 2rem;
}

@media screen and (min-width: 700px) {
   .containerCurso {
      max-width: 900px;
      margin: 0 auto;
   
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: justify; 
   }

}